.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    
}


.videoframe iframe{
    width: 25rem;
    height: 13rem;
    margin-top: 2rem;
}

.title-video{

    padding: 0;
    padding-top: 3rem;
}